<div class="card-deck">
  <!-- Profile -->
  <div class="card">
      <div class="card-body media">
        <img class="mr-3" src="/assets/images/default-profile-sm.png" alt="Profile image">
        <div class="media-body">
          <h5 class="mt-0" class="user-name">{{user.name}}</h5>
          <span class="user-email">{{user.email}}</span>
        </div>
      </div>
    </div>

  <!-- Balance -->
  <div class="card">
    <div class="card-body">
      <span class="card-title profile-balance">Balance</span>
      <span class="card-title profile-balance profile-balance-number text-primary">${{user.balance || 0}}</span>
    </div>
  </div>
</div>

<hr class="col-12">

<!-- Charts -->
<div class="card-columns">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Recent Transactions</h5>
      <trdx-transactions-table
        [transactions]="recentTransactions">
      </trdx-transactions-table>

    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Transactions per Dataset</h5>
      <trdx-transactions-timeseries-line-graph
        [transactions]="transactions"
        aggregateBy="dataset">
      </trdx-transactions-timeseries-line-graph>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Transactions per Dataset</h5>
      <trdx-transactions-bar-graph
        [transactions]="transactions"
        aggregateBy="dataset">
      </trdx-transactions-bar-graph>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Transactions per Consumer</h5>
      <trdx-transactions-advanced-pie-chart
        [transactions]="transactions"
        aggregateBy="consumer">
      </trdx-transactions-advanced-pie-chart>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Transactions and Consumers per Dataset</h5>
      <ngx-charts-bubble-chart
        [results]="timeSeriesAggregateTransactionsNumConsumerNumDataset"
        autoScale=true
        legend=true
        xAxis=true
        yAxis=true
        showXAxisLabel=true
        showYAxisLabel=true
        xAxisLabel="Date"
        yAxisLabel="Number of Transactions">
      </ngx-charts-bubble-chart>
    </div>
  </div>

</div>
