// TR Colors
// https://brand-library.thomsonreuters.com/brand/article/item7174

// TR Primary Colors
$tr-orange: #FF8000;
$tr-dark-gray: #4D4D4D;
$tr-medium-gray: #666666;
$tr-white: #FFFFFF;
$tr-light-gray: #AFAFAF;
$tr-muted-gray: #D0D0D0;

// TR Secondary Colors
$tr-dark-orange: #FF5900;
$tr-light-orange: #FFA100;
$tr-dark-blue: #005DA2;
$tr-light-blue: #0099C4;
$tr-dark-purple: #621F95;
$tr-light-purple: #6E3AB7;
$tr-dark-red: #A00000;
$tr-light-red: #DC0A0A;
$tr-dark-green: #387C2B;
$tr-light-green: #77A22D;

// Background Contrast Color
$tr-background-contrast-color: #f4f4f4;

// Other Colors
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Bootstrap Theme (Generic)
$theme-colors: (primary: $tr-orange, secondary: $tr-medium-gray, success: $tr-dark-green, info: $tr-light-blue, warning: $yellow, danger: $tr-light-red, light: $tr-muted-gray, dark: $tr-dark-gray);
$colors: (blue: $tr-light-blue, indigo: $tr-dark-purple, purple: $tr-light-purple, pink: $pink, red: $tr-light-red, orange: $tr-light-orange, yellow: $yellow, green: $tr-light-green, teal: $teal, cyan: $cyan, white: $tr-white, gray: $tr-light-gray,gray-dark: $tr-dark-gray);
$theme-color-interval: 8%;
$body-bg: $tr-white;
$body-color: $tr-dark-gray;

// Navbar
// $navbar-padding-y: ($spacer / 2);
$navbar-padding-x: 10%;
// $navbar-brand-font-size: $font-size-lg;
// $nav-link-height: $navbar-brand-font-size * $line-height-base;
// $navbar-brand-height: ($font-size-base * $line-height-base + $nav-link-padding-y * 2);
// $navbar-brand-padding-y: ($navbar-brand-height - $nav-link-height) / 2;
// $navbar-toggler-padding-y: 0.25rem;
// $navbar-toggler-padding-x: 0.75rem;
// $navbar-toggler-font-size: $font-size-lg;
// $navbar-toggler-border-radius: $btn-border-radius;
//$navbar-dark-color: $tr-dark-gray;
// $navbar-dark-hover-color: rgba($white, 0.75);
// $navbar-dark-active-color: rgba($white, 1);
// $navbar-dark-disabled-color: rgba($white, 0.25);
// $navbar-dark-toggler-border-color: rgba($white, 0.1);
// $navbar-light-color: rgba($black, 0.5);
// $navbar-light-hover-color: rgba($black, 0.7);
// $navbar-light-active-color: rgba($black, 0.9);
// $navbar-light-disabled-color: rgba($black, 0.3);
// $navbar-light-toggler-border-color: rgba($black, 0.1);