// TR Colors
// https://brand-library.thomsonreuters.com/brand/article/item7174

// TR Primary Colors
$tr-orange: #FF8000;
$tr-dark-gray: #4D4D4D;
$tr-medium-gray: #666666;
$tr-white: #FFFFFF;
$tr-light-gray: #AFAFAF;
$tr-muted-gray: #D0D0D0;

// TR Secondary Colors
$tr-dark-orange: #FF5900;
$tr-light-orange: #FFA100;
$tr-dark-blue: #005DA2;
$tr-light-blue: #0099C4;
$tr-dark-purple: #621F95;
$tr-light-purple: #6E3AB7;
$tr-dark-red: #A00000;
$tr-light-red: #DC0A0A;
$tr-dark-green: #387C2B;
$tr-light-green: #77A22D;

// Background Contrast Color
$tr-background-contrast-color: #f4f4f4;

// Other Colors
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

//TR Fonts
@font-face {
    font-family: 'knowledge-italic';
    src: url('/assets/fonts/knowledge2017-regularitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/knowledge2017-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'knowledge-regular';
    src: url('/assets/fonts/knowledge2017-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/knowledge2017-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'knowledge-medium';
    src: url('/assets/fonts/knowledge2017-medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/knowledge2017-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'knowledge-medium-italic';
    src: url('/assets/fonts/knowledge2017-mediumitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/knowledge2017-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'knowledge-light-italic';
    src: url('/assets/fonts/knowledge2017-lightitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/knowledge2017-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'knowledge-light';
    src: url('/assets/fonts/knowledge2017-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/knowledge2017-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'knowledge-bold-italic';
    src: url('/assets/fonts/knowledge2017-bolditalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/knowledge2017-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'knowledge-bold';
    src: url('/assets/fonts/knowledge2017-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/knowledge2017-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'knowledge-black-italic';
    src: url('/assets/fonts/knowledge2017-blackitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/knowledge2017-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'knowledge-black';
    src: url('/assets/fonts/knowledge2017-black-webfont.woff2') format('woff2'),
         url('/assets/fonts/knowledge2017-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'knowledge-ultra-light-italic';
    src: url('/assets/fonts/knowledge2017-ultralightitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/knowledge2017-ultralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'knowledge-ultra-light';
    src: url('/assets/fonts/knowledge2017-ultralight-webfont.woff2') format('woff2'),
         url('/assets/fonts/knowledge2017-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Bootstrap Theme (Generic)
$theme-colors: (primary: $tr-orange, secondary: $tr-medium-gray, success: $tr-dark-green, info: $tr-light-blue, warning: $yellow, danger: $tr-light-red, light: $tr-muted-gray, dark: $tr-dark-gray);
$colors: (blue: $tr-light-blue, indigo: $tr-dark-purple, purple: $tr-light-purple, pink: $pink, red: $tr-light-red, orange: $tr-light-orange, yellow: $yellow, green: $tr-light-green, teal: $teal, cyan: $cyan, white: $tr-white, gray: $tr-light-gray,gray-dark: $tr-dark-gray);
$theme-color-interval: 8%;
$body-bg: $tr-white;
$body-color: $tr-dark-gray;

// Fonts
$font-family-sans-serif: knowledge-regular, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;

// Navbar
$navbar-padding-x: 10%;

// Grid
$grid-columns: 12;
$grid-gutter-width: 20px;

// Cards
$card-border-width: 1px;
$card-border-radius: 0;
$card-border-color: $gray-200;

//Badges
$badge-pill-border-radius: 0;

//List
$list-group-border-radius: 0;
