/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

html, body{
    background-color: $tr-background-contrast-color;
}

.site-logo{
    background-image: url("/assets/images/logo.png");
    background-position: center center;
    height: 2.5rem;
    width: 12.25rem;
    background-size: cover;
}

//Default Modal
.modal-dialog{
    max-width: 700px;
    margin: 3.00rem auto;

}
